.ytb-main-info{
  padding-bottom: 48px;
}
.product-main-info-wrap{
  position: relative;
  background: linear-gradient(135deg, #fd9a03,#ff8a00 50%, #ff6600);
  .wave-animate{
    height: 121px;
    background-image: url('./imgs/quxian.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
  .bubble-animate{
    position: absolute;
    bottom: 0;
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    background-color: #ffb971;
  }
  .percent-animate{
    position: absolute;
    right: 6.5%;
    bottom: 130px;
    margin-right: 10px;
    width: 100px;
    height: 46px;
    border: 1px solid #ffa648;
    // padding: 0 .5em;
    border-radius: 40px;
    background-color: #ffa648;
    color: #fff;
    text-align: center;
    font-size: 30px;
    line-height: 46px;
  }
}

.product-main-info{
  padding: 0 6.5%;
  color: #fff;
  &.tyb{
    padding-bottom: 48px;
  }
  h4{
    margin: 0;
    font-weight: normal;
    font-size: 28px;
  }
  p{
    margin: 0;
  }
  .year-rate{
    span{
      font-size: 50px;
      &:nth-child(1){
        font-size: 100px;
      }
    }
  }
  .tag-wrap{
    margin-bottom: 48px;
    span{
      display: inline-block;
      margin-right: 14px;
      padding: 0px 14px;
      height: 28px;
      border: 1px solid #fff;
      border-radius: 28px;
      font-size: 20px;
      line-height: 28px;
    }
  }
  .flex-wrap{
    .flex-item{
      float: left;
      &:first-child{
        width: 40%;
      }
      &:last-child{
        width: 60%;
      }
      span{
        font-size: 28px;
      }
      .num{
        margin-right: .1em;
        font-size: 54px;
      }
      .unit{
        font-size: 30px;
      }
    }
  }
}
