// 签到主页面
.signin-page {
  padding-bottom: 200px;
  .header-nav {
    top           : 0;
    // box-shadow    : 0 2px 15px 0 rgba(224,224,224,0.50);
    position      : fixed;
    width         : 100%;
    color         : #fff;
    padding-top   : 60px;
    padding-bottom: 30px;
    font-size     : 36px;
    text-align    : center;
    box-sizing    : border-box;
    padding-left  : 48px;
    padding-right : 48px;
    z-index       : 100000;
    .icon-arrow {
      float : left;
      height: 36px;
      width : 46px;
    }
    .recorad-link {
      float     : right;
      margin-top: -40px;
      font-size : 28px;
      color     : #fff;
    }
  }
  // banner
  .banner {
    background-image: url('./img/banner.png');
    height          : 480px;
    width           : 100%;
    background-size : 100% 100%;
    position        : relative;
    .mark {
      position        : absolute;
      top             : 0;
      bottom          : 0;
      left            : 0;
      right           : 0;
      background-color: rgba(0,0,0,.5);
    }
    // 本月累计签到
    .sum-days {
      position  : absolute;
      width     : 100%;
      text-align: center;
      top       : 50%;
      margin-top: -79px;
      img {
        width: 376px;
      }
      span {
        color      : #fff;
        display    : inline-block;
        width      : 100%;
        font-size  : 150px;
        font-weight: bold;
        i {
          font-size : 50px;
          font-style: normal;
        }
      }
    }
  }
  // 规则按钮
  .rule {
    position     : fixed;
    right        : -30px;
    top          : 290px;
    background   : linear-gradient(135deg, #fd9a03,#ff8a00 50%, #ff6600);
    color        : #fff;
    padding      : 0 60px 0 30px;
    height       : 60px;
    line-height  : 60px;
    font-size    : 26px;
    border-radius: 60px;
    z-index      : 900;
  }
  .tips {
    font-size   : 30px;
    padding-left: 4%;
    margin-top  : 48px;
    min-height  : 212px;
    span {
      font-size: 50px;
      margin   : 0 10px;
    }
  }
  .ltn-dan-dan {
    position: fixed;
    right   : 5%;
    width   : 120px;
    bottom  : 40px;
    z-index : 1000;
  }
}
.res-modal {
  color : #666;
  margin: -0.3rem;
  h4 {
    font-size: 70px;
    color    : #333;
    margin   : 30px 0 20px;
  }
  p {
    font-size: 34px;
    span {
      color : #fd9a03;
      margin: 0 10px;
    }
  }
  img {
    width     : 415px;
    margin-top: 80px;
  }
  button {
    background : linear-gradient(135deg, #fd9a03,#ff8a00 50%, #ff6600);
    margin-top : 80px;
    height     : 90px;
    line-height: 90px;
    color      : #fff;
    font-size  : 30px;
    border     : none;
    display    : inline-block;
    width      : 100%;
  }
}
.month-wrap-list {
  position      : relative;
  width         : 100%;
  overflow      : hidden;
  margin-top    : -40px;
  padding-top   : 20px;
  padding-bottom: 20px;
  .arrow {
    width   : 40px;
    position: absolute;
    left    : 50%;
    top     : 0;
    height  : 40px;
  }
}
.month-date-wrap {
  background-color: #fff;
  width           : 92%;
  box-sizing      : border-box;
  position        : relative;
  height          : 680px;
  z-index         : 2;
  padding         : 40px 0;
  box-shadow      : 0 10px 10px 0 #e0e0e0;
  border-radius   : 10px;
  margin          : 0 auto;
  .title {
    padding: 0 2% 0 40px;
    .num {
      font-size   : 100px;
      font-weight : bold;
      margin-right: 20px;
      color       : #19272f;
    }
    .en {
      font-size: 34px;
      color    : #333;
    }
    .des {
      font-size     : 28px;
      color         : #303030;
      letter-spacing: 0;
      min-height    : 60px;
    }
  }
  .jifen-wrap {
    color    : #fd9a03;
    font-size: 30px;
    span {
      font-size: 40px;
    }
    position : absolute;
    right    : 4%;
    top      : 40px;
  }
}
.day-items {
  padding-left: 2%;
  .day-item {
    float      : left;
    width      : 14%;
    height     : 70px;
    line-height: 70px;
    text-align : center;
    font-size  : 24px;
    &.sigin {
      background-image   : url('./img/bird.png');
      background-position: center center;
      background-size    : 72px 72px;
      background-repeat  : no-repeat;
    }
    &.liwu {
      background-image   : url('./img/liwu.png');
      background-position: center center;
      background-size    : 34px 38px;
      background-repeat  : no-repeat;
      font-size          : 0;
    }
    &.sigingift {
      background-image   : url('./img/bird-1.gif');
      background-position: center center;
      background-size    : 72px 72px;
      background-repeat  : no-repeat;
    }
  }
}
